<!DOCTYPE html>

<head>
    <title>Hello</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- <input id="text" type="text"> -->
    <button onclick="create_room()">Create Room</button>
    <div id=join_rooms_div>

    </div>
    <!-- <button onclick="create_room()">Join Room</button> -->
    <!-- <p>Output:<span id="result"></span></p> -->
</body>
<script src="../static/script.js"></script>